.topcontainer{
    background: url("../../Assets/Home/Anas-removebg-preview.png");
    background-image: url("../../Assets/Home/bg.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    
    
}